.imgCard {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
    transition: width 500ms;
}

.imgCard:hover {
    width: 110%;
    object-fit: cover;
    object-position: center;
}

.card {
    border: none
}

.manImg {
    max-height: 60vh;
    object-fit: contain;
}

.containerImg {
    height: 300px;
    overflow: hidden;
}

.page-link:hover {
    color: #535353 !important;
}

.page-link {
    color: black !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #050505;
    border-color: #090909;
}

.bg-light {
    background-color: #fff !important;
}

.postImg {
    max-height: 12vh;
    object-fit: contain;
}

@font-face {
    font-family: "myFont";
    src: url(../RobotoCondensed-Light.ttf);
}

body {
    font-family: 'myFont';
}

a {
    color: black;
}

a:hover {
    color: gray;
}

.navLink {
    color: black;
    transition: margin 500ms;
    font-size: 1.2em;
    font-weight: bold;
}

.navLink:hover {
    color: gray;
    margin-left: 10px;
}

p {
    font-size: 1.1em;
}

.font-size {
    font-size: 1.3em;
}